*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Inter", system-ui, sans-serif;
    overflow-x: hidden;
}

/* Nav bar:------------------- */

nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0px;
    backdrop-filter : blur(10px);
    height: 65px;
    width: 100%;
}

nav div.logo{
    width: 104px;
}

nav div.links{
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 100px;

}

nav div.links a{
    text-decoration: none;
    color: #FFFFFF;
}

nav div.primary-cta {
    display: flex;
    gap: 10px;
}



nav button.first {
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
}

nav button.second{
    background-color: #FFFFFF;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 50px;
    color: #08090A;
    border: none;
}

/* Hero section--------------------- */

div.hero-section{
    width: 1081px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 94px;
}

div.hero-section img{
    width: 1281px;
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -150px;
    object-fit: ;
}

section div.new{
    display: flex;
    align-items: center;
    padding: 4px 6px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    background-color: #04496A;
    border-radius: 20px; */
}

section div.new-button{
    font-size: 14px;
    background-color: #0C8C5E;
    padding: 3px 6px;
    border-radius: 20px;
}

section div.icon{
    font-size: 12px;
    font-weight: 200;
    color: #08090A;
    background-color: #FFFFFF;
    padding: 0px 4px;
    border-radius: 100px;;
}

section div.icon p{
    margin-bottom: 1px;
}

div.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    
}

div.para h1{
    color: #FFFFFF;
    font-size: 38px;
}

div.para p{
    color: #FFFFFF;
    font-size: 17px;
    line-height: 1.5;
}

div.form1{
    width: 360px;
    height: 42px;
    padding: 20px 14px;
    background-color: #59A1A3;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div.form1 input{
    background-color:#59A1A3;
    font-size: 18px;
    border: none;
}

div.form1 ::placeholder{
    color: #89C4C1;
    font-weight: 600;
}

div.form1 button{
    margin-right: -10px;
    font-size: 17px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #08090A;
    border: none;
    border-radius: 50px;
    padding: 7px 9px;
}

/* Logo and image section */

div.imt{
    margin-top: 70px;
    padding: 50px 4px;
    object-position: center;
}

div.imt img{
    border-radius: 20px;
    max-width: 100%;
}

div.imtlogo{

}

div.imtlogo img{
    max-width: 100%;
}

/* Bulit for section */

div.bheading{
    text-align: center;
    padding: 30px 250px;

}

div.bheading h2{
    font-size: 35px;
}

div.bheading p{
    color: #08090A;
    font-size: 16px;
    margin-bottom: 30px;

}

div.animatedcards{
    display: grid;
    grid-template-columns: repeat(2, 520px);
}

div.animated-card-1{
    height: 550px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 0.5px solid #EEEEEE;
    border-radius: 20px;
    margin-bottom: 50px;
}

.llm{
    color:#188B5F;
    font-size: 13px;
    
}

div.animated-card-1 h2, div.animated-card-3 h2{
    font-size:22px;
    font-weight: 600;
}

.llm2{
    font-weight: 100;
    padding-right: 90px;
}

div.animated-card-3{
    height: 665px;
    margin: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border: 0.5px solid #EEEEEE;
    border-radius: 20px;
    margin-bottom: 150px;
}

.llm3{
    font-weight: 100;
    padding: 20px 220px;
    margin-left: 30px;
}

.llmimage{
    max-width: 100%;
}

/* Enterprise section */

div.enterprise{
    background-color:#F7F7F7 ;
    padding: 50px 25px;
    margin-bottom: 90px;
}

.enterpara1{
    color:#188B5F;
    font-size: 13px;
    margin-bottom: 20px;
}

.enterheading{
    color: #08090A;
    font-size: 35px;
    margin-bottom: 20px;

}

div.enterpara2line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.enterbtn{
    background-color: #08090A;
    padding: 6px 24px;
    margin-right: 5px;
    font-size: 19px;
    border-radius: 50px;
    color: #FFFFFF;
    border: none;
}

div.enter-cards{
    display: grid;
    grid-template-columns: 480px 510px;
    gap: 5px;
}

div.entercard1 img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

div.entercard1 h4{
    font-size: 19px;
    font-weight: 600 ;
    margin-bottom: 30px;
}

div.entercard1 p{
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 40px;
}

.finalimg{
    max-width: 100%;
}

/* Story section */

div.story{
    text-align: center;
    padding: 0px 230px;
}

.storyp1{
    color:#188B5F;
    font-size: 13px;
    margin-bottom: 15px;
}

div.story h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.storyp2{
    font-size: 16px;
    margin-bottom: 40px;
}

div.umbrella{
    display: flex;
    margin-left: 190px;
}

div.story-cards{
    padding: 10px;
}

.simg{
    width:385px;
    height: 290px;
    margin-bottom: 15px;
}

.simple{
    columns: #393A3B;
    margin-top: 5px;
    font-size: 15px;
    margin-right: 10px;
}

.expand{
    color: #838484;
    margin-top: 25px;
    font-size: 15px;
}

div.lastbtn{
    text-align: center;
}

.s1, .s2{
    margin-right: 10px;
    width: 38px;
    height: 28px;
    padding: 3px 8px;
    padding-bottom: 5px;border-radius: 30px;
    background-color: #08090A;
    color: #FFFFFF;
    font-weight: 600;
}

.s1{
    background-color: #838484;
}

div.advantage-main{
    text-align: center;
    padding: 150px 100px;
}

div.advantage-main h2{
    font-size: 40px;
    margin: 23px 200px;
}

div.advantage-main p{
    font-size: 16px;
}

div.adv-btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.adct1{
    width: 194px;
    height: 39px;
    background-color: #08090A;
    padding: 9px 19px;
    font-size: 17px;
    border-radius: 50px;
    color: #FFFFFF;
    border: none;
}

.adct2 {
    width: 136px;
    height: 39px;
    color: #08090A;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #EEEEEE;
}

div.adv-cards{
    text-align: center;
    display: grid;
    grid-template-columns: 500px 500px;

}

div.adv-card-1{
    border: 0.5 px solid #EEEEEE;
    margin-left: 60px;
}

div.adv-card-1 img{
    width: 60px;
    height: 55px;
    margin-bottom: 20px;
    border: #EEEEEE 1.5px solid;
    border-radius: 16px;
    padding: 5px;
}

div.adv-card-1 h3{
    font-weight: 600;
    margin-bottom: 10px;
}

div.adv-card-1 p{
    margin-left: 10px;
    margin-bottom: 35px;
}

div.adv-card-1 a{
    color: #0C8C5E;
    font-weight: 600;
    text-decoration: none;
    
}

/* footer-------------- */

div.foot{
    margin-top: 100px;
    display: grid;
    grid-template-rows: 113px 342px 109px 157px;
    padding: 30px;
    background-color: #F7F7F7;
}

div.f1{
    text-align: end;
    padding: 40px;
    border: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
}

div.f2{
    border: 1px solid #EEEEEE;
    font-size: 14px;
    line-height: 2;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.firstone{
    color: #7F8080;
}

div.f3{
    border: 1px solid #EEEEEE;
    padding: 40px;
    display: flex;
}

div.f3 img{
    margin-top: -30px;
    width: 80px;
    height: 78px;
}

div.f4{
    padding: 25px;
    border: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.f4 p{
    margin-right: 70px;
    font-size: 14px;
    color: #919191;
}

.fim1{
    width: 160px;
    height: 25px;
    border-radius: 20px;
}

.fim2{
    width: 85px;
    height: 28px;
    border-radius: 20px;
}