*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Inter", system-ui, sans-serif;
    height: 1000px;
    background-image: url(/src/resources/bg-light.svg);
    width: 100%;
    position: absolute;
    background-position: -220px 0px;
    /* background-image: url(/src/resources/bg-light.svg);
    border: 1px solid red; */
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
    align-items: center;
    background-color: transparent;
    /* trying to get bg behind */
    position: fixed;
    backdrop-filter : blur(10px);
    /* top: 0px;
    left: 0px; */
    height: 65px;
    width: 100%;
    /* z-index: 10; */
    /* Frost effect */
    /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    /* this is for safari */
    /* -webkit-backdrop-filter: blur(6px); */ 
}

nav div.logo{
    width: 104px;
}

nav div.links{
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 100px;

}

nav div.links a{
    text-decoration: none;
    color: #FFFFFF;
}

nav div.primary-cta {
    display: flex;
    gap: 10px;
}



nav button.first {
    color: #FFFFFF;
    padding: 2px 10px;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: ;
    border-radius: 50px;
    border: none;
}

nav button.second{
    background-color: #FFFFFF;
    padding: 2px 10px;
    font-size: 19px;
    border-radius: 50px;
    color: #08090A;
    border: none;
}

section div.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 94px;
}

section div.new{
    display: flex;
    align-items: center;
    padding: 4px 6px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    background-color: #04496A;
    border-radius: 20px;
}

section div.new-button{
    font-size: 14px;
    background-color: #0C8C5E;
    padding: 3px 6px;
    border-radius: 20px;
}

section div.icon{
    font-size: 12px;
    font-weight: 200;
    color: #08090A;
    background-color: #FFFFFF;
    padding: 0px 4px;
    border-radius: 100px;;
}

section div.icon p{
    margin-bottom: 1px;
}

section div.para{

}